.fade-in {
    transition: opacity 1s ease;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.dog {
    position: absolute;
    left: 500px;
    top: 500px;
    transition: 1s ease;
  }

.move-north{
    top:200px;
}
.move-south{
    top:700px;
}
.move-east{
    left:700px;
}
.move-west{
    left:200px;
}